<div class="container">
    <div class="row elem-center">
        <div class="col-6">
            <div class="t1">Exquisite Watches</div>
            <div class="t2">
                Choose Luxury, <span style="color: #947F6C !important;">Choose Us</span>
            </div>
            <div class="t3" style="font-family: 'Poppins', sans-serif;">
                Discover the Perfect Watch for Every Occasion and Elevate Your Style with Timeless Elegance and Precision Craftsmanship - watch
            </div>
            <div class="t4" style="font-family: 'Poppins', sans-serif;">$4300.00</div>
        </div>
        <div class="col-6">
            <div class="elem-center">
                <img src="../../assets/2023-10-17_21.49.48-removebg-preview.png" alt="orologio">
            </div>
        </div>
    </div>
</div>