<footer style="background-color: #49382EA6!important; height: 227px!important; text-align: center; color: #fff; padding: 20px; position: absolute; bottom: 0; width: 100%;">
    <div class="social-icons">
        <svg width="60" height="60" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="30" cy="30" r="29" stroke="white" stroke-width="2"/>
            <image x="10" y="10" width="40" height="40" xlink:href="URL_DEL_TUO_FILE_FACEBOOK_ICON.svg" />
        </svg>

        <svg width="60" height="60" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="30" cy="30" r="29" stroke="white" stroke-width="2"/>
            <image x="10" y="10" width="40" height="40" xlink:href="URL_DEL_TUO_FILE_FACEBOOK_ICON.svg" />
        </svg>
        <svg width="60" height="60" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="30" cy="30" r="29" stroke="white" stroke-width="2"/>
            <image x="10" y="10" width="40" height="40" xlink:href="URL_DEL_TUO_FILE_FACEBOOK_ICON.svg" />
        </svg>
    </div>
    <p class="copyright" style="font-family: 'Poppins', sans-serif; font-size: 24px !important; margin-top: 10px;">© 2023 Class Technologies Inc.</p>
</footer>
